@model SchoolManagement.MVC.Data.Class

@{
    ViewData["Title"] = "Editar Clase";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Classes" asp-action="Index">Clases</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar la Clase</li>
    </ol>
</nav>

<h2>Editar Clase</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label"></label>
                <select asp-for="LecturerId" class="form-control" asp-items="ViewBag.LecturerId"></select>
                <span asp-validation-for="LecturerId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn text-light" style="background-color: #286ce6" />
                <a class="btn text-light" style="background-color: #286ce6" asp-action="Index">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
