@{
    ViewData["Title"] = "Sobre Nosotros";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>Hello.</p>
