@{
    ViewData["Title"] = "Nuestras Politicas de Privacidad";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacidad</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
